<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h1>DougTeixeira.com Inquiry:</h1>

    <h3>Hi <%= @user.first_name %>,</h3>
    

    <p>You have received an inquiry with the following details from <strong><%= @params[:name] %></strong> at www.DougTeixeira.com:</p>

    <p>Message: <%= @params[:inquiry] %></p>
    <p>Name: <%= @params[:name] %></p>
    <p>Phone: <%= @params[:phone] %></p>
    <p>Email: <%= @params[:email] %></p>
    

      <p>This is an automated message from www.DougTeixeira.com</p>
      
      <p>Thank you,<p>

      <p>Yours Truly</p>
      <p>(908) 872 - 0937</p>
  </body>
</html>
