<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :is_admin %>
    <%= f.input :password_digest %>
    <%= f.input :session_token %>
    <%= f.input :password_reset_token %>
    <%= f.input :password_reset_sent_at %>
    <%= f.input :is_active %>
    <%= f.input :activation_token %>
    <%= f.input :uid %>
    <%= f.input :access_token %>
    <%= f.input :provider %>
    <%= f.input :oauth_token %>
    <%= f.input :oauth_expires_at %>
    <%= f.input :fb_image_url %>
    <%= f.input :display %>
    <%= f.input :position %>
    <%= f.input :title %>
    <%= f.input :string %>
    <%= f.input :bio %>
    <%= f.input :phone %>
    <%= f.input :work_phone %>
    <%= f.input :home_phone %>
    <%= f.input :mobile_phone %>
    <%= f.input :fax %>
    <%= f.input :timezone %>
    <%= f.input :avatar_file_name %>
    <%= f.input :avatar_content_type %>
    <%= f.input :avatar_file_size %>
    <%= f.input :avatar_updated_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
