<div class="clearfix social-links">
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to "http://www.github.com/teixeir3", target: "_blank", alt: "Github", class: "github-link" do %>
        <%= image_tag "github-round-icon.png", width: 80, height: 80 %>
      <% end %>
    </li>
  
    <li class="list-group-item">
      <%= link_to "https://www.linkedin.com/company/south-branch-family-practice?report.success=se2U8YjzSfSLqmrvJWfkzmUYKl6uKkphatxlAbbto9OkvCyhhsMCP1nNWIEQv6pq2D50iVxJ", target: "_blank", alt: "LinkedIn", class: "linkedin-link" do %>
        <%= image_tag "linkedin-icon.png", width: 80, height: 80 %>
      <% end %>
    </li>
  
    <li class="list-group-item">
     <%= link_to "https://www.tumblr.com/blog/teixeir3", target: "_blank" , alt: "Tumblr Blog", class: "tumblr-link" do %>
       <%= image_tag "tumblr-icon.png", width: 80, height: 80 %>
     <% end %>
    </li>
    </p>
  </ul>
</div>
