<div class="col-xs-12">
  <span class="anchor" id="projects"></span>
  <div class="page-header text-center">
    <h1>Projects / Websites</h1>
  </div>
</div>

<div class="col-xs-12">
  <div>
    <ul class="list-group">
      <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <li class="list-item-group project">
            <figure class="figure">
              <% case project.title %>
                <% when "BranchburgDoctors.com"%>
                  <%  @picture_url = "branchburgdoctors_services.png" %>
                <% when "Prevent IT Health"%>
                  <% @picture_url = "PreventIT_login.png" %>
                <% when "Clark-Travel.com"%>
                  <% @picture_url = "clark-travel_home.png" %> 
              <% end %>
              <% #image_tag(project.pictures.first.image, alt: project.title) %>
              <%= image_tag(@picture_url, alt: project.title) %>
              <figcaption>
                <h3>
                  <%= link_to project.title, project.url, target: "_blank" %> 
                </h3>
                
                <span class="project-links">
                  ( <%= link_to "Live", project.url %> | <%= link_to "Source", project.source_url %> )
                </span>
                
                <span class="project-description"><%= project.description %></span>
                
                <a href="#" class="close-caption hidden">x</a>
              </figcaption>
            </figure>
          </li>
        </div>
      <% end %>
     
    </ul>
  </div>
</div>

<div class="col-xs-12 row-padding">
  <% if current_user_is_admin? %>
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th>Title,</th>
            <th>Url</th>
            <th>Description</th>
            <th>Ord</th>
            <th>Display</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.title %></td>
              <td><%= project.url %></td>
              <td><%= project.description %></td>
              <td><%= project.ord %></td>
              <td><%= project.display %></td>
              <td><%= link_to 'Show', project %></td>
              <td><%= link_to 'Edit', edit_project_path(project) %></td>
              <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      

      <p><%= link_to 'New Project', new_project_path if current_user_is_admin? %></p>
      
    </div>
  <% end %>
</div>
