<div class="col-xs-12">
  <div class="page-header text-center">
    <h1>Projects / Websites</h1>
  </div>
</div>

<div class="col-xs-12">
  <div>
    <ul class="list-group">
      <% @projects.each do |project| %>
        <li class="list-item-group project">
          <%= link_to project.url, target: "_blank" do %>
            <div class="project-title">
              <%= project.title %>
              <div class="project-links">( <%= link_to "Live", project.url %> | <%= link_to "Source", project.source_url %> )</div>
            </div>
            <%= image_tag(project.image) do %>
            
              <div class="project-description"><%= project.description %></div>
            <% end %>
          
          
          <% end %>
        </li>
      <% end %>
    
      <li><%= link_to "www.Clark-Travel.com", "http://www.clark-travel.com", target: "_blank" %></li>
      <li><%= link_to "www.BranchburgDoctors.com", "http://www.BranchburgDoctors.com", target: "_blank" %></li>
      <li><%= link_to "www.PreventITHealth.com", "http://www.clark-travel.com", target: "_blank" %></li>
    </ul>
  </div>

  <table>
    <thead>
      <tr>
        <th>Title,</th>
        <th>Url</th>
        <th>Description</th>
        <th>Ord</th>
        <th>Display</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.url %></td>
          <td><%= project.description %></td>
          <td><%= project.ord %></td>
          <td><%= project.display %></td>
          <td><%= link_to 'Show', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Project', new_project_path if current_user_is_admin? %>
  
</div>
