<header class="header navbar-fixed-top">
  <nav id="logo-nav" class="logo navbar navbar-default">
    <div class="container">
      <figure id="logo" class="logo">
        <a href="<%= root_url %>">
          <img class="site-logo" src="<%= image_url("douglas_teixeira_logo_298x59.png") %>" alt="Weight Tracker">
        </a>
        <figcaption id="site-slogan">You should <strong>hire me</strong>.</figcaption>
      </figure>
    </div>
  </nav>

  <nav class="navbar navbar-inverse">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand navbar-brand-small" href="<%= root_url %>"><%= image_tag("portfolio_logo_small_60x48.png") %></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      
      <div class="main-nav collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <a class="navbar-brand navbar-brand-big" href="<%= root_url %>"><%= image_tag("portfolio_logo_small_60x48.png") %></a>
          <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
          <li><a href="<%= page_path("directions") %>">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Open Level1! <span class="caret"></span></a>
            <ul class="dropdown-menu inverse-dropdown" role="menu">
              <li><a href="#">Level1 LinkA</a></li>
              <li class="divider"></li>
              
              <li class="dropdown dropdown-submenu"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Open Level2!  <span class="caret"></span></a>
                <ul class="dropdown-menu inverse-dropdown" role="menu">
                    <li class="dropdown-header">Lvl2 Header1</li>
                    <li class="menu-item"><a href="#">Level2 LinkA</a></li>
                    <li><a href="#">Level2 LinkB</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Lvl2 Header2</li>
                    <li><a href="#">Level2 LinkC</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu inverse-dropdown" role="menu">
              <li><a href="#">Directions</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
          <li><form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form></li>
        </ul>
      </div>
    </div>
</nav>
</header>