<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
   <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= filepicker_js_include_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= favicon_link_tag 'favicon/favicon.ico' %>
  <meta class="sampleClass">
  <%= csrf_meta_tags %>
  
  <%= yield :head %>
</head>
<body>
  <!-- Begin modal content. ********************************************************* -->
    <%= render "layouts/spinner" %>
    <%= render "layouts/modal" %>
  <!-- End modal content. ********************************************************* -->
  
  <!-- Begin header. ********************************************************* -->
    <% render "layouts/header" %>

  <!-- End header. *********************************************************** -->
  
  <!-- Begin Notification Area. *********************************************** -->
  
    <%= render "layouts/messages", messages_arr: flash[:notice], class_name: "notice" if flash[:notice] %>
    <%= render "layouts/messages", messages_arr: flash[:error], class_name: "danger" if flash[:error] %>
  
  <!-- End Notification Area. ************************************************* -->
  
  

  <!-- Begin standard content. *********************************************** -->
  <main class="container-fluid">
  

    
    <div class="row">
      <div class="main-content">
      	<%= yield %>
        <%= yield :js %>
      </div>
    </div>
     
              
              
  </main>
  <!-- End standard content. ************************************************* -->

  <!-- Begin footer. ********************************************************* -->
    <% render "layouts/footer" %>
  <!-- End footer. *********************************************************** -->
</body>
</html>
