<!DOCTYPE html>
<html>
<head>
  <title>DT's Weight Loss</title>
  <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
   <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= filepicker_js_include_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta class="sampleClass">
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Begin modal content. ********************************************************* -->
    <%= render "layouts/spinner" %>
    <%= render "layouts/modal" %>
  <!-- End modal content. ********************************************************* -->
  
  <!-- Begin header. ********************************************************* -->
    <%= render "layouts/header" %>

  <!-- End header. *********************************************************** -->
  
  <!-- Begin Notification Area. *********************************************** -->
  
    <%= render "layouts/messages", messages_arr: flash[:notices], class_name: "notices" if flash[:notices] %>
    <%= render "layouts/messages", messages_arr: flash[:errors], class_name: "errors" if flash[:errors] %>
  
  <!-- End Notification Area. ************************************************* -->
  
  

  <!-- Begin standard content. *********************************************** -->
  <main class="container">
  

    
    <div class="row">
      <div class="main-content col-md-9">
      	<%= yield %>
        <%= yield :js %>
      </div>
      <div class="col-md-3 sidebar">
           <h2>About Me</h2>
           <p>
             I am currently freelancing as a full stack web developer for hire.

             I specialize in Ruby on Rails, JavaScript, Backbone.js, jQuery, SQL, HTML, and CSS. I  graduated in 2011 with a B.S. in Business Administration with specializations in marketing and a minor in psychology.

             I have since co-founded a health IT consulting company where I was able to concurrently teach myself web development with the help of appacademy.io.

             My GitHub: http://www.github.com/teixeir3
             LinkedIn: http://www.linkedin.com/in/dougteixeira/en
             https://www.tumblr.com/blog/teixeir3

             Example websites: http://www.clark-travel.com
             http://www.branchburgdoctors.com
             
             This portfolio is currently under construction
           </p>
      </div>
      
    </div>
     
              
              
  </main>
  <!-- End standard content. ************************************************* -->

  <!-- Begin footer. ********************************************************* -->
    <%= render "layouts/footer" %>
  <!-- End footer. *********************************************************** -->
</body>
</html>
